<?xml version="1.0" encoding="utf-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ /*
  ~ ** Copyright 9/10/2013, raidzero
  ~ **
  ~ ** Licensed under the Apache License, Version 2.0 (the "License");
  ~ ** you may not use this file except in compliance with the License.
  ~ ** You may obtain a copy of the License at
  ~ **
  ~ **     http://www.apache.org/licenses/LICENSE-2.0
  ~ **
  ~ ** Unless required by applicable law or agreed to in writing, software
  ~ ** distributed under the License is distributed on an "AS IS" BASIS,
  ~ ** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ ** See the License for the specific language governing permissions and
  ~ ** limitations under the License.
  ~ *
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raidzero.androidium"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permissions.SET_WALLPAPER"/>

    <application
        android:process="com.raidzero.androidium"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="HomeActivity"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@android:style/Theme.Holo"
            android:name=".SettingsActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo"
            android:name=".PackageBrowser"
            android:label="@string/select_package" >
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo"
            android:name=".ActivityBrowser"
            android:label="@string/select_activity" >
        </activity>
        <activity
            android:process="com.raidzero.androidium.drawerthread"
            android:theme="@style/AppDrawerAnimation"
            android:icon="@drawable/ic_allapps"
            android:name=".AppDrawer">
        </activity>
        <activity
            android:name=".NameShortcut"
            android:theme="@android:style/Theme.Dialog">
        </activity>

    </application>

</manifest>
